strong.articleLabel {
    font-weight: 500;
    padding-right: 2rem;
}

.newsItem .articleSummary p.summaryText {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

div.newsroomArticle.tags strong {
    color: #333333;
    font-size: 1.6rem;
    line-height: 2;
}

.ignatianArticle div.newsroomArticle.tags {
    display: inline-flex;
    width: max-content;
}

.ignatianArticle .standardContent ul {
    margin-bottom: 0;
}

.ignatianArticle .standardContent ul li {
    background: none;
    border: none;
    color: #aa0000;
    display: inline-block !important;
    font-size: 1.6rem;
    padding: 1px 10px;
}

.ignatianArticle .standardContent ul li:before {
    content: unset;
}


/* Mobile layouts below 992 */
@media screen and (max-width: 991.99px) {

    /* .ignatianArticle.newsItemWrapper {
        border-bottom: 1px Solid #f7f7f7;
    } */

    .ignatianArticle div.newsroomArticle.tags {
        width: unset;
    }
}
