strong.articleLabel {
    font-weight: 500;
    padding-right: 2rem;
}

.ignatianArticle h3.card-title {
    padding: 0;
}

.ignatianArticle .externalLink a {
    line-height: 1.6;
}

.ignatianArticle .articleSummary p.summaryText {
    line-height: 1.6;
    margin-top: 1rem;
}

.ignatianArticle .card-header p {
    line-height: 1.6;
    margin-bottom: 0;
}

div.newsroomArticle.tags strong {
    color: #333333;
    font-size: 1.6rem;
    line-height: 2;
}

.ignatianArticle div.newsroomArticle.tags {
    display: inline-flex;
    width: max-content;
}

.ignatianArticle .standardContent ul {
    margin-bottom: 0;
}

.ignatianArticle .standardContent ul li {
    background: none;
    border: none;
    color: #aa0000;
    display: inline-block !important;
    font-size: 1.6rem;
    padding: 1px 10px;
}

.ignatianArticle .standardContent ul li:before {
    content: unset;
}

.ignatianArticle hr.articleBorderBottom {
    display: none;
}

/* Mobile layouts below 992 */
@media screen and (max-width: 991.99px) {

    .ignatianArticle h3.card-title {
        line-height: 1.2;
    }

    .ignatianArticle .externalLink a {
        font-size: 1.5rem;
    }

    .ignatianArticle .card-header p {
        font-size: 1.5rem;
    }

    .ignatianArticle hr.articleBorderBottom {
        border-top: 3px solid #e5e5e5;
        display: block;
        height: 3px;
        margin-left: 20px;
        margin-right: 20px;
        opacity: unset;
    }

    .ignatianArticle div.newsroomArticle.tags {
        width: unset;
    }
}
