strong.articleLabel {
    font-weight: 500;
}

.newsItem .articleSummary p.summaryText {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

div.newsroomArticle.tags strong {
    color: #333333;
    font-size: 1.6rem;
    line-height: 2;
}

.ignatianArticle div.newsroomArticle.tags {
    display: inline-flex;
}

.ignatianArticle .standardContent ul li {
    background: none;
    border: none;
    color: #aa0000;
    display: inline-block !important;
    font-size: 1.6rem;
    margin-right: 5px;
    padding: 1px 10px;
}

.ignatianArticle .standardContent ul li:before {
    content: unset;
}

/* .ignatianArticle .standardContent ul li:before {

    font-family: unset;
    font-size: unset;
    content: 'b';
    color: #aa0000;
    padding-right: 5px;
    display: table-cell;
    position: relative;
    top: 2px;

} */

